@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    color: #222;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
/*  */

.superinfo-bg {
    background: #122ab2;
    color: white;
}

.superinfo {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.superinfo p,
.superinfo a {
    margin: 0 10px 10px 10px;
}

.superinfo > a {
    color: white;
}

/* Menu */

.menu-bg {
    background: #2c70ff;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu a {
    color: #fff;
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: 700;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.125em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    color: #122ab2;
    transition:  .4s;
}

/* Introduction */

.introduction {
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

/* About */

.about {
    margin: 0 auto;
    padding: 60px 0;
    max-width: 960px;
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;

    display: flex;
    flex-wrap: wrap; 
}

.about-info {
    margin: 0 10px;
    flex: 2 1 300px;
}

.about-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.about-info p {
    font-size: 1.125em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}
.about-img {
    flex: 1 1 160px;
    margin: 0 10px;
}

/* Products */

.products {
    max-width: 960px;
    margin: 60px auto;
}

.products h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px; 
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.products-item {
    flex: 1 1 175px;
    margin: 10px;
}

.products-item h2 {
    padding: 60px 20px;
    font-size: 3em;
    color: #a4a4a4;
    background-color: #f7f7f7;
}

.purple {
    border-top: 8px solid #ae81ff;
}

.pink {
    border-top: 8px solid #f9265e;
}

.blue {
    border-top: 8px solid #66d9eb;
}

.price {
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.price-item {
    margin: 10px;
    padding: 20px;
    flex: 1 1 260px;
    border: 4px solid #fff;
}

.price-item h2 {
    font-size: 3em;
    text-align: center;
    color: #a4a4a4;
    margin-top: 20px;
}

.price-item span {
    margin: 20px auto;
    padding: 10px 0 5px 0 ;
    max-width: 300px;
    display: block;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.price-item sup {
    font-size: 1.5rem;
}

.price-item ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    color: #7c7c7c;
}

.price-item li {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-item li::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #122ab2;
}

.price-item a {
    margin: 20px auto;
    padding: 15px 0;
    max-width: 300px;
    display: block;
    border: 4px solid;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.25em;
    text-align: center;
}

@media (max-width: 800px) {
    .price {
        padding-left: 10px;
        padding-right: 10px;
    }

    .price-item:nth-child(3) {
        order: -2;

    }
    
    .price-item:nth-child(2) {
        order: -1;

    }   
}

/* quality */

.quality {
    margin: 60px auto;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.quality-item {
    margin: 20px 10px;
    flex: 1 1 300px;
}

.quality-item h2 {
    font-size: 2.25em;
    color: #a4a4a4;
    margin-bottom: 20px;
}

.quality-item h2::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 8px;
    height: 30px;
}

.quality-item:nth-of-type(3n+1) h2::before {
    background-color: #ae81ff;
}

.quality-item:nth-of-type(3n+2) h2::before {
    background-color: #f9265e;
}

.quality-item:nth-of-type(3n+3) h2::before {
    background-color: #66d9eb;
}

.quality-item p {
    font-size: 1.25em;
    line-height: 1.4;
    color: #7c7c7c;
}

/* newsletter */

.newsletter {
    background-color: #f7f7f7;
    padding: 60px calc((100% - 960px) / 2);

    display: flex;
    flex-wrap: wrap;
}

.newsletter-info {
    margin: 0 10px;
    flex: 1 1 240px;
}

.newsletter-info h1 {
    font-size: 3em;
    color: #a4a4a4;
}

.newsletter-info p {
    margin-bottom: 10px;
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    color: #7c7c7c;
}

.form {
    margin: 0 10px;
    align-self: center;

    display: flex;
    flex-wrap: wrap;
    flex: 2 1 260px;
}

.form input {
    margin: 0;
    padding: 15px 10px;
    flex: 3 1 200px;
    font-size: 1.25em;
    color: #7c7c7c;
    font-style: italic;
    font-family: "Nunito", sans-serif;
    border: 4px solid #2c70ff;
    border-radius: 0px;
    background: transparent;
}

.form button {
    padding: 15px 10px;
    flex: 1 1 240px;

    font-size: 2.125em;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    
    border: 0;
    background: #2c70ff;
    color: #fff;;
    text-transform: uppercase;
    cursor: pointer;
}

.form button:hover {
    background: #122ab2;
    transition: .4s;
}


@media (max-width: 600px) {
    .form button {
        font-size: 1.5em;
    }
}

/* Footer */ 

.footer {
    background: #2c70ff;
    height: 200px;
    
    display: flex;
    align-items: center;
}

.footer p {
    font-size: 2.25em;
    flex: 1;
    text-align: center;
    color: #122ab2;
}