@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    color: #222;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
/*  */

.superinfo-bg {
    background: #122ab2;
    color: white;
}

.superinfo {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.superinfo p,
.superinfo a {
    margin: 0 10px 10px 10px;
}

.superinfo > a {
    color: white;
}

/* Menu */

.menu-bg {
    background: #2c70ff;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu a {
    color: #fff;
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: 700;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.125em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    color: #122ab2;
    transition:  .4s;
}