@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    color: #222;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
/*  */

.superinfo-bg {
    background: #122ab2;
    color: white;
}

.superinfo {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.superinfo p,
.superinfo a {
    margin: 0 10px 10px 10px;
}

.superinfo > a {
    color: white;
}

/* Menu */

.menu-bg {
    background: #2c70ff;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu a {
    color: #fff;
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: 700;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.125em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    color: #122ab2;
    transition:  .4s;
}

/* Introduction */

.introduction {
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

/* About */

.about {
    margin: 0 auto;
    padding: 60px 0;
    max-width: 960px;
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;

    display: flex;
    flex-wrap: wrap; 
}

.about-info {
    margin: 0 10px;
    flex: 2 1 300px;
}

.about-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.about-info p {
    font-size: 1.125em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}
.about-img {
    flex: 1 1 160px;
    margin: 0 10px;
}

/* Products */

.products {
    max-width: 960px;
    margin: 60px auto;
}

.products h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px; 
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.products-item {
    flex: 1 1 175px;
    margin: 10px;
}

.products-item h2 {
    padding: 60px 20px;
    font-size: 3em;
    color: #a4a4a4;
    background-color: #f7f7f7;
}

.purple {
    border-top: 8px solid #ae81ff;
}

.pink {
    border-top: 8px solid #f9265e;
}

.blue {
    border-top: 8px solid #66d9eb;
}