@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    color: #222;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

